<template>
  <div v-on:keyup.enter="loginSend($event)" class="genshin-login">
    <form>
      <div class="login-container">
        <div class="login-header">
          <b-alert :show="errorLogin" variant="danger" class="text-left">
            Неверный логин или пароль
          </b-alert>
          <b-alert :show="noSet" variant="warning" class="text-left">
            Не все поля заполнены
          </b-alert>
        </div>
        <div class="login-input">
          <label class="genshin-label">Логин:</label>
          <b-form-input type="text" v-model="login" required class="genshin-input" />
        </div>
        <div class="login-input">
          <label class="genshin-label">Пароль:</label>
          <b-form-input type="password" v-model="password" class="genshin-input" />
        </div>
        <div class="login-button">
          <b-button pill variant="danger" type="success" @click="loginSend($event)" class="genshin-button">
            Войти
          </b-button>
        </div>
      </div>
    </form>
  </div>
</template>
