.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3b3d40; /* Цвет фона в соответствии с Genshin Impact */
}

.admin-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff; /* Белый цвет текста */
}

.user-info {
    display: flex;
    align-items: center;
}

.username {
    margin-right: 10px;
    font-size: 18px;
    color: #fff; /* Белый цвет текста */
}

.b-button {
    background-color: #e0314f; /* Красный цвет кнопки в соответствии с Genshin Impact */
    color: #fff; /* Белый цвет текста кнопки */
    border: none;
}

.b-button:hover {
    background-color: #c82343; /* Цвет при наведении на кнопку */
}
