.genshin-form {
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
}

.genshin-form-header h2 {
    font-size: 24px;
    color: #ffffff;
}

.translations-group {
    display: flex;
    flex-wrap: wrap;
}

.translations-group .form-control {
    flex: 1;
    margin-right: 5px;
    margin-bottom: 10px;
    max-width: 100px;
}
