/* Стили для контейнера промокодов */
.promocodes-view {
    padding: 20px;
    background-color: #2d2d2d;
    color: #fff;
}

/* Стили для карточек с промокодами */
.promocode-card {
    margin-bottom: 20px;
    background-color: #3b3d40;
    border: none;
}

/* Стили для заголовка карточки с промокодами */
.promocode-card-title {
    background-color: #2d2d2d;
    border-bottom: 1px solid #6c757d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
}

/* Стили для текстовой части карточки с промокодами */
.promocode-card-text {
    padding: 20px;
}

/* Стили для кнопок редактирования и удаления промокода */
.promocode-button {
    margin-right: 10px;
    background-color: #2196F3;
    color: #fff;
    border: none;
}

/* Стили для кнопки удаления промокода */
.promocode-button-delete {
    background-color: #f44336;
}
.genshin-heading {
    font-size: 24px; /* Размер шрифта */
    margin-bottom: 20px; /* Отступ снизу */
}
