<template>
    <div class="promocodes-view">
        <b-container>
            <h2 class="genshin-heading">Управление промокодами</h2>

            <div class="mb-3">
                <b-button pill variant="success" @click="addNewPromocode">Добавить новый промокод</b-button>
            </div>

            <b-row>
                <b-col v-for="promocode in allPromocodes" :key="promocode._id" md="4">
                    <b-card class="promocode-card">
                        <b-card-title class="promocode-card-title">{{ promocode.promocode }}</b-card-title>
                        <b-card-text class="promocode-card-text">
                            <p>Камни истока: {{ promocode.primogems }} ✦</p>
                            <p>Звёздная пыль: {{ promocode.stardust }} ☆</p>
                            <p>Звёздный блеск: {{ promocode.starglitter }} ✧</p>
                            <p>Количество: {{ promocode.count }}</p>
                            <p>Использовано: {{ promocode.chatIds.length }}</p>
                            <p>Дата создания: {{ formatLocalTime(promocode.created) }}</p>
                        </b-card-text>
                        <b-button @click="editPromocode(promocode)" variant="info" class="promocode-button">Редактировать</b-button>
                        <b-button @click="deletePromocode(promocode._id)" variant="danger" class="promocode-button promocode-button-delete">Удалить</b-button>
                    </b-card>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>
