.genshin-app {
    font-family: 'YourCustomFont', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: #2d2d2d;
}

@font-face {
    font-family: 'YourCustomFont';
    src: url('https://artur-petrov.vinnica.ua/public/gacha-simulator-static-data/assets/fonts/ja-jp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
